<form
  nz-form
  [formGroup]="ownerForm"
  class="login-form"
  (ngSubmit)="formSubmit()"
>
  <app-shared-form
    addressControlName="Étterem elérhetőségi címe"
    formControlName="shared"
  >
  </app-shared-form>
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel
      nzHeader="Étterem adatok rögzítése"
      nzActive="false"
      nzExpandedIcon="form"
      [nzDisabled]="ownerForm.invalid || ownerForm.untouched"
    >
      <!--   id?: number;
  name?: string;
  description?: string;
  location?: string;
  style?: string;
  openingHours?: string; -->
      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="restaurantName"
                placeholder="Név"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <!-- <input
                type="text"
                nz-input
                formControlName="restaurantDescription"
                placeholder="Leírás"
              /> -->
              <textarea
                nz-input
                placeholder="Leírás"
                formControlName="restaurantDescription"
                [nzAutosize]="{ minRows: 5, maxRows: 5 }"
              ></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="restaurantZipCode"
                placeholder="Irányítószám"
              />
              <input
                type="text"
                nz-input
                formControlName="restaurantCity"
                placeholder="Város"
              />
              <input
                type="text"
                nz-input
                formControlName="restaurantStreet"
                placeholder="utca"
              />
              <input
                type="text"
                nz-input
                formControlName="restaurantHouseNo"
                placeholder="Házszám"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="restaurantStyle"
                placeholder="Stílus"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              Nyitás:
              <nz-input-number formControlName="opensAt"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              Zárás:
              <nz-input-number formControlName="closesAt"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <div *ngIf="successString">{{ successString }}</div>
  <div *ngIf="errorString">{{ errorString }}</div>
  <button
    style="width: 100%; margin: 10px 0 10px 0"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Regisztráció
  </button>
</form>
<!--
<p>Form is {{ ownerForm.valid ? 'Valid' : 'Invalid' }}</p>
<pre>{{ ownerForm.value | json }}</pre> -->
