<nz-card
  style="width: 300px"
  nzTitle="{{ restaurant.name }}"
  [nzExtra]="extraTemplate"
>
  <p>
    Helyszín: {{ restaurant.address }}
  </p>
  <p>Nyitvatartás: {{ restaurant.opensAt }} - {{ restaurant.closesAt }}</p>
  <p>Stílus: {{ restaurant.styles }}</p>
  <p>Leírás: {{restaurant.description}}</p>
</nz-card>
<ng-template #extraTemplate>
  <a (click)="showMenu()">Étlap</a>
</ng-template>
