<div class="background">
  <div class="wrapper">
    <!-- <app-add-menu-category></app-add-menu-category> -->

    <h2>Étel rögzítése</h2>

    <div class="container">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Rögzítés ehhez az étteremhez"
        [(ngModel)]="selectedRestaurantId"
      >
        <nz-option
          *ngFor="let c of listOfRestaurants"
          [nzLabel]="String(c.name)"
          [nzValue]="c.id"
        ></nz-option>
      </nz-select>

      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Kiválasztott menü kategória"
        [(ngModel)]="selectedCategory"
      >
        <nz-option
          *ngFor="let c of listOfCategories"
          [nzLabel]="c"
          [nzValue]="c"
        ></nz-option>
      </nz-select>

      <input nz-input placeholder="Név" [(ngModel)]="name" />

      <textarea
        nz-input
        placeholder="Leírás"
        [(ngModel)]="description"
        [nzAutosize]="{ minRows: 5, maxRows: 5 }"
      ></textarea>

      <nz-input-number [(ngModel)]="price" [nzMin]="1"></nz-input-number>

      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Allergének"
        [(ngModel)]="listOfSelectedAllergens"
      >
        <nz-option
          *ngFor="let a of listOfAllergens"
          [nzLabel]="a"
          [nzValue]="a"
        ></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>
        and {{ selectedList.length }} more selected
      </ng-template>

      <button nz-button nzType="primary" (click)="onSubmit()">Rögzít</button>
      <div *ngIf="successString">{{ successString }}</div>
      <div *ngIf="errorString">{{ errorString }}</div>
    </div>
  </div>
</div>
