.wrapper {
  width: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 8px black;
  border-radius: 6px;
  height: 500px;
  overflow-y: auto;
}

nz-select {
  width: 100%;
}

nz-input-number {
  width: 100%;
}

nz-select {
  width: 100%;
}

nz-card {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../../../../assets/wood.jpg');
  background-size: cover;
  background-position: center;

  height: calc(100vh - 2 * 64px - 2px);
}
