<nz-card
  style="width: 300px"
  nzTitle="{{ dish.name }}"
  [nzExtra]="extraTemplate"
>
  <p style="text-align: left">Leírás: {{ dish.description }}</p>
  <p style="text-align: left">
    Ár: <strong>{{ dish.price }}Ft</strong>
  </p>
  <hr />
  <h4 style="text-align: left">Allergének:</h4>
  <p style="text-align: left" *ngFor="let d of dish.allergenes">- {{ d }}</p>
</nz-card>
<ng-template #extraTemplate>
  <a *ngIf="authService.getRole() === Role.CUSTOMER" (click)="toCart()"
    >Kosárba</a
  >
  <button
    *ngIf="authService.getRole() === Role.OWNER"
    nz-button
    nzType="primary"
    nz-popover
    nzPopoverTitle="Ár módosítása"
    [(nzPopoverVisible)]="modifyDishVisible"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
  >
    Ár módosítása
  </button>
  <ng-template #contentTemplate>
    <input
      nz-input
      nzOverlayClassName="numeric-input"
      placeholder="Basic usage"
      [(ngModel)]="dish.price"
    />
    <a (click)="modifyDishPrice()"> Módosítás </a>
    <div *ngIf="priceModifyErrorString">{{ priceModifyErrorString }}</div>
    <div *ngIf="priceModifySuccessString">{{ priceModifySuccessString }}</div>
  </ng-template>
</ng-template>
