.background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../../assets/restaurant.jpg');
  background-size: cover;
  background-position: center;

  height: calc(100vh - 2 * 64px - 2px);
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  width: 70%;
  margin: 20px auto;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 8px black;
  border-radius: 6px;
  height: 500px;
  overflow-y: auto;
}
