<div class="background">
  <div class="container">
    <div class="search">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
        <input
          nz-input
          placeholder="Étterem keresése..."
          [(ngModel)]="searchedRestaurant"
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
          (keyup.enter)="onSearch()"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzSearch
          (click)="onSearch()"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
      </ng-template>
      <nz-autocomplete #auto [nzDataSource]="restaurantOptions"></nz-autocomplete>
    </div>
    <div class="restaurants-container" *ngIf="showAll">
      <app-restaurant-card
        *ngFor="let restaurant of restaurants"
        [restaurant]="restaurant"
      >
      </app-restaurant-card>
    </div>
    <div class="restaurants-container" *ngIf="!showAll">
      <app-restaurant-card
        *ngFor="let restaurant of restaurantFiltered"
        [restaurant]="restaurant"
      >
      </app-restaurant-card>
      <div *ngIf="restaurantFiltered.length === 0">
        Nem található ilyen étterem.
      </div>
    </div>
  </div>
</div>
