<form
  nz-form
  [formGroup]="customerForm"
  class="login-form"
  (ngSubmit)="formSubmit()"
>
  <app-shared-form addressControlName="Szállítási cím" formControlName="shared">
  </app-shared-form>
  <button
    style="width: 100%; margin: 10px 0 10px 0"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Regisztráció
  </button>
</form>

<!--<p>Form is {{customerForm.valid ? 'Valid' : 'Invalid'}}</p>-->
<!--<pre>{{customerForm.value | json}}</pre>-->
