<nz-card
  nzHoverable
  style="
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  "
  nzTitle="Beérkezett rendelés - {{ order.id }}"
  [nzExtra]="extraTemplate"
>
  <p>Típus: {{ order.type }}</p>
  <p>Státusz: {{ order.orderStatus }}</p>
  <p>Cím: {{ order.address }}</p>
  <p>Időpont: {{ order.time | date }}</p>

  <div
    *ngFor="let item of order.orderLines"
    style="
      display: flex;
      justify-content: space-between;
      flex-flow: column nowrap;
    "
  >
    <span> {{ item.food }} x {{ item.quantity }} </span>
    <span> {{ item.lineTotal }} ft </span>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <button
    nz-button
    nzType="primary"
    nz-popover
    nzPopoverTitle="Elérhető futárok"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    *ngIf="order.type === 'TYPE_DELIVERY'"
    [disabled]="
      order.orderStatus == 'STATUS_ACCEPTED' ||
      order.orderStatus === 'STATUS_DONE'
    "
  >
    Futárhoz rendelés
  </button>
  <ng-template #contentTemplate>
    <div *ngFor="let d of deliveries">
      {{ d.firstName }} <a (click)="assignToDelivery(d.id)">Hozzárendel</a>
    </div>
    <span *ngIf="deliveries.length === 0">Nincsenek elérhető futárok</span>
  </ng-template>

  <button
    nz-button
    nzType="primary"
    *ngIf="order.type === 'TYPE_RESTAURANT'"
    nz-popover
    (click)="jobDone()"
    [disabled]="
      order.orderStatus == 'STATUS_ACCEPTED' ||
      order.orderStatus === 'STATUS_DONE'
    "
  >
    Vendég Átvette
  </button>
</ng-template>
