<nz-card
  style="
    width: 450px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  "
  [nzExtra]="extraTemplate"
>
  <!-- nzTitle="Beérkezett rendelés: {{ order.id }}" -->
  <p>Státusz: {{ order.orderStatus }}</p>
  <p>Cím: {{ order.address }}</p>
  <p>Időpont: {{ order.time | date }}</p>
  <p>Ételek: {{ printOrderLines() }}</p>
</nz-card>
<ng-template #extraTemplate>
  <h3>
    <strong>Beérkezett rendelés: {{ order.id }}</strong>
  </h3>
  <br />
  <button
    nz-button
    nzType="primary"
    (click)="acceptJob()"
    [disabled]="
      order.orderStatus == 'STATUS_ACCEPTED' ||
      order.orderStatus === 'STATUS_DONE'
    "
  >
    Elvállal
  </button>
  <button
    style="margin-left: 10px"
    nz-button
    nzType="primary"
    (click)="rejectJob()"
    [disabled]="
      order.orderStatus == 'STATUS_ACCEPTED' ||
      order.orderStatus === 'STATUS_DONE'
    "
  >
    Visszautasít
  </button>
  <button
    style="margin-left: 10px"
    nz-button
    nzType="primary"
    (click)="jobDone()"
    [disabled]="
      order.orderStatus == 'STATUS_PENDING' ||
      order.orderStatus === 'STATUS_REJECTED' ||
      order.orderStatus === 'STATUS_DONE'
    "
  >
    Kiszállítás elvégezve
  </button>
</ng-template>
