<nz-tabset>
  <nz-tab nzTitle="Vendég">
    <app-customer></app-customer>
  </nz-tab>
  <nz-tab nzTitle="Futár">
    <app-delivery></app-delivery>
  </nz-tab>
  <nz-tab nzTitle="Tulajdonos">
    <app-owner></app-owner>
  </nz-tab>
</nz-tabset>
<div class="login-form-redirect">
  <a [routerLink]="['/auth/login']"> Vissza a bejelentkezéshez </a>
</div>
