<div 
  nz-form 
  [formGroup]="sharedForm" 
  class="login-form"
>
  <div nz-col [nzSpan]="24">
    <nz-form-item>
      <nz-form-control
        nzErrorTip="A felhasználónévnek [6-12] karakter hosszúságúnak kell lennie!"
      >
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="username"
            placeholder="Felhasználónév"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzJustify="space-between">
    <div nz-col [nzSpan]="11">
      <nz-form-item>
        <nz-form-control nzErrorTip="A vezetéknév megadása kötelező">
          <nz-input-group nzPrefixIcon="tags">
            <input
              type="text"
              nz-input
              formControlName="firstName"
              placeholder="Vezetéknév"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="11">
      <nz-form-item>
        <nz-form-control nzErrorTip="A keresztnév megadása kötelező">
          <nz-input-group nzPrefixIcon="tags">
            <input
              type="text"
              nz-input
              formControlName="lastName"
              placeholder="Keresztnév"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-col [nzSpan]="24">
    <nz-form-item>
      <nz-form-control
        nzErrorTip="Az emailnek megfeleő formátumnak kell lennie"
      >
        <nz-input-group nzPrefixIcon="mail">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email cím"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzJustify="space-between">
    <div nz-col [nzSpan]="11">
      <nz-form-item>
        <nz-form-control
          nzErrorTip="A jelszónak [8-16] karakter hosszúságúnak kell lennie!"
        >
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Jelszó"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="11">
      <nz-form-item>
        <nz-form-control
          nzErrorTip="A jelszónak egyeznie kell az eredetileg megadottal!"
        >
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="passwordMatch"
              placeholder="Jelszó megerősítése"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-col [nzSpan]="24">
    <nz-form-item>
      <!-- <nz-form-control nzErrorTip="A megadott cím nem megfelelő!">
        <nz-input-group nzPrefixIcon="aim">
          <input
            type="text"
            nz-input
            [formControl]="address"
            (ngModelChange)="changeAddress($event)"
            [placeholder]="this.addressControlName"
          />
        </nz-input-group>
      </nz-form-control> -->
    </nz-form-item>
    
  </div>
</div>
<div>
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
    <input
      nz-input
      placeholder="Cím..."
      [(ngModel)]="addressString"
      (ngModelChange)="changeAddress($event)"
      [nzAutocomplete]="auto"
    />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <!-- <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzSearch
    >
      <i nz-icon nzType="search" nzTheme="outline"></i>
    </button> -->
  </ng-template>
  <nz-autocomplete #auto>
    <nz-auto-option 
      *ngFor="let a of addressRecommendations"
      [nzValue]="a.id" [nzLabel]="a.address">{{a.address}}</nz-auto-option>
  </nz-autocomplete>
</div>
