<div class="background">
  <div class="container">
    <h2>
      Kosár tartalma:
      <span *ngIf="cartService.getDishes().length === 0">üres</span>
    </h2>

    <p *ngFor="let o of orderLines">
      {{ getFood(o.foodId).name }}
      {{ o.qty }} x {{ getFood(o.foodId).price }} Ft
    </p>

    <p *ngIf="cartService.getDishes().length !== 0">
      Összesen: {{ cartService.getTotal() }} Ft
    </p>

    <p *ngIf="cartService.getDishes().length === 0">
      Válaszd ki, hogy honnan rendelnél!
      <br />
      <a [routerLink]="['/home']"> Átirányítás az éttermekhez </a>
    </p>

    <nz-radio-group
      [(ngModel)]="selectedOrderType"
      *ngIf="cartService.getDishes().length !== 0"
    >
      <label nz-radio [nzValue]="ot.type" *ngFor="let ot of orderType">
        {{ ot.label }}
      </label>
    </nz-radio-group>

    <button
      style="margin-top: 20px"
      nz-button
      nzType="primary"
      (click)="onOrder()"
      *ngIf="cartService.getDishes().length !== 0"
    >
      Rendelés
    </button>

    <div *ngIf="orderSuccessString">{{ orderSuccessString }}</div>
    <div *ngIf="orderErrorString">{{ orderErrorString }}</div>
  </div>
</div>
