.background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../../../../assets/shopping-cart.jpg');
  background-size: cover;
  background-position: center;

  height: calc(100vh - 2 * 64px - 2px);
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 8px black;
  border-radius: 6px;
  height: 300px;
  overflow-y: auto;
}
