/* -------------------------------- Basic NG-Zorro customization  -------------------------------- */
@import 'src/styles.less';

@auth-layout-spacing: @font-size-base;
@auth-layout-width: 450px;
@auth-layout-height: calc(100vh - 2 * 64px - 2px);
@auth-layout-corners: @font-size-sm;
/* ------------------------------------------------------------------------------------------------ */
:host {
  background-image: url('../../../assets/restaurant2.jpg');
  background-size: cover;
  background-position: center;
  height: @auth-layout-height;
  .flex-mixin(column nowrap, center, center);
  ::ng-deep .ant-card-meta-avatar {
    float: none;
    padding-right: 0;
  }
}

// Main styling
.auth-layout {
  max-width: @auth-layout-width;
  margin: @auth-layout-spacing;
  border-radius: @auth-layout-corners;
  overflow-y: auto;
}

.auth-layout__header {
  margin-bottom: @font-size-base;
  ::ng-deep i {
    .icon-size-mixin(64px);
    margin-bottom: @auth-layout-spacing;
  }
  ::ng-deep img {
    .icon-size-mixin(64px);
  }
}

.auth-layout__content {
  margin-bottom: @font-size-base;
  .flex-mixin(column nowrap, stretch, center);
}
