<nz-card class="auth-layout" [nzHoverable]="false">
  <nz-card-meta
    class="auth-layout__header"
    [nzAvatar]="logoTemplate"
    [nzTitle]="titleTemplate"
    [nzDescription]="descriptionTemplate"
  >
  </nz-card-meta>
  <div class="auth-layout__content">
    <router-outlet></router-outlet>
  </div>
  <div style="text-align: center; margin-top: 2.25em">
    <span nz-typography nzType="secondary">
      Spring & Angular alapú egyetemi projekt a Pannon Egyetem
      Rendszerfejlesztés Korszerű módszerei tárgyához.
      <i nz-icon nzType="heart" nzTheme="twotone" nzTwotoneColor="#F5222D">
        ©KitchenBossDev
      </i>
    </span>
  </div>
</nz-card>

<!--Using NG template for the LOGO part -->
<ng-template #logoTemplate>
  <div
    style="
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    "
  >
    <i nz-icon theme="fill">
      <img src="assets/angular.svg" alt="Kiwi standing on oval" />
    </i>
    <h3 nz-typography>Kitchen Boss</h3>
  </div>
</ng-template>

<!--Using NG template for the TITLE part -->
<ng-template #titleTemplate>
  <!-- TODO: Try to fix base Ant-Design component w. custom css selectors -->
</ng-template>

<!--Using NG template for the DESCRIPTION part -->
<ng-template #descriptionTemplate>
  <!-- TODO: Try to fix base Ant-Design component w. custom css selectors -->
</ng-template>
